/* You can add global styles to this file, and also import other style files */

.game-title {
    width: 100%;
    text-align: center;
}

.scenario-completed {
    position: absolute;
    left: 25%;
    top: 10%;
    width: 50%;
    height: 50%;
}

.back-img {
    position: absolute;
    left: 15px;
    top: 5px;
    max-width: 40px;
    cursor: pointer;
}