<button (click)="clearScenario()">Clear</button>
<button (click)="reinitScenario()">Reinit</button>

<table class="scenario-board">
    <tr *ngFor="let scenarioLine of numberedCells">
        <td *ngFor="let scenarioCell of scenarioLine"
            class="scenario-cell"
            [class.scenario-cell-background]="!getScenario(scenarioCell).completed">
            <advent-board-scenario [scenario]="getScenario(scenarioCell)" />
        </td>
    </tr>
</table>
<!--<img class="background-image" src="assets/background-board.jpg" />-->