.scenario-cell-div {
    width: 100%;
    height: 100%;
    line-height: 100%;
    color: #FFD700;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    vertical-align: middle;
}

.scenario-cell-disabled {
    color: lightgray;
}